.main-accordion {
  padding: 0 !important;

  button {
    cursor: pointer;
  }

  .accordion-title {
    cursor: pointer;
  }

  .sub-accordion {
    .sub-accordion-item {
    }
  }
}

.main-tabs {
  > div {
    width: 100%;
  }
}
