@import 'tailwindcss';
@plugin "./hero.ts";

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  font-family: 'Maple Mono NL', Menlo, Monaco, Consolas, 'Courier New', monospaced, 'PingFang SC', 'Microsoft Yahei';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --wal-accent-color: #fb7299;
}

.app-accent-text {
  color: var(--wal-accent-color);
}

.app-shell {
  background-color: #ffffff;
}

.app-shell div[data-slot='base'] {
  flex-grow: 0;
  flex-shrink: 0;
}

.app-shell div[data-slot='panel'] {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 4px 0 0 0;
}
